table
{
   margin-top: 150px;
   margin-left: 500px;
}

footer
{
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    bottom: 0;
    position: absolute;
}