article
{
    margin-top: 150px;
    margin-left: 180px;    
    margin-right: 0px;
    text-align: right;
}

main
{
    display: inline-block;
    width: 500px;
}

iframe
{
    float: left;
    margin-left: 400px;
    margin-top: -250px;
    width: 800px;
    height: 400px;
}

footer
{
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    bottom: 0;
    position: absolute;
}