article
{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer
{
    height: 80px;
    text-align: center;
    background-color: black;
    color: white;
}